@{
    ViewData["Title"] = "Home Page";
}

<div><h1>
    <span>Current Price: </span>
    <span id="currPrice">1.05</span>
</h1></div>

<div class="form-group row">
    <label for="example-number-input" class="col-2 col-form-label">My Strike Price</label>
    <div class="col-10">
        <input id="myPrice" class="form-control" type="number" value="1.10">
    </div>
</div>

<div id="execute" class="jumbotron" hidden>
    <h1>CA EXECUTED!</h1>
</div>

<script>
    var currPrice = 1.05;
    var speed = 1000;
    function go() {
        $("#currPrice").text(Math.round(currPrice * 100) / 100);
        var myPrice = $("#myPrice").val();
        if (currPrice >= myPrice)
            $("#execute").removeAttr('hidden');
        else {
            //var randomPersonIndex = Math.floor(Math.random() * allStaff.length);
            currPrice = getCurrPrice();
            setTimeout(go, speed);
        }
    }

    getCurrPrice = function () {
        return currPrice + 0.01;
    };

    $(function () {
        go();
    });

</script>