@{
    ViewData["Title"] = "Home Page";
}

<style>
    .negative {
        color: red
    }

    .positive {
        color: green
    }
</style>



<div id="results" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Corporate Action Elected</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="modalBody" class="modal-body">
                <p id="p1">Order Executed. Cash Selected.</p>
                <p id="p2"></p>
                <p id="p3"></p>
                <p id="p4"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>




<div>
    <div class="col-xs-6">
        <h1>
            <span>Current Price: </span>
            <span id="currPrice"></span>
        </h1>
    </div>
    <div class="col-xs-6">
        <h1>
            <span>Time Left: </span>
            <span id="timeLeft"></span>
        </h1>
    </div>
</div>


<div class="form-group row">
    <label for="myPrice" class="col-2 col-form-label">Reinvt Price</label>
    <div class="col-10">
        <input id="myPrice" class="form-control" type="number" value="1.05">
    </div>
</div>

<div class="jumbotron">
    <h2><span id="status"></span><span id="va"></span></h2>
</div>


<div id="notify" class="jumbotron" hidden>
    <h1>Notification Sent!</h1>
</div>
<div id="execute" class="jumbotron" hidden>
    <h1>CA EXECUTED!</h1>
</div>

<script>
    var prices = [
1.01,
1.02,
1.03,
1.04,
1.05,
1.06,
1.07,
1.08,
1.09,
1.1,
1.11,
1.12,
1.13,
1.14,
1.15,
1.16,
1.17,
1.18,
1.19,
1.2,
1.19,
1.18,
1.17,
1.16,
1.15,
1.14,
1.13,
1.12,
1.11,
1.1,
1.09,
1.08,
1.07,
1.06,
1.05
    ];

    var priceIndex = 0;
    var currPrice = 1.00;
    var speed = 1000;
    var notified = false;
    var timeLeft = 10;
    var noOfShares = 10000000;

    function go() {
        $("#currPrice").text(Math.round(currPrice * 100) / 100);
        $("#timeLeft").text(timeLeft);
        var myPrice = $("#myPrice").val();
        var notifyPrice = $("#notifyPrice").val();

        //if (currPrice >= notifyPrice && !notified) {
        //    Notify();
        //    $("#notify").removeAttr('hidden');
        //    notified = true;
        //}
        
        var va = Math.round((currPrice - myPrice) * 100) / 100;
        if (va > 0) {
            $("#status").text("Select Stock. ");
            $("#va").text("VA " + va.toString());
            $("#va").removeClass("negative");
            $("#va").addClass("positive");
        }
        else {
            $("#status").text("Select Cash. ");
            $("#va").text("VA " + va.toString());
            $("#va").removeClass("positive");
            $("#va").addClass("negative");
        }


        //var randomPersonIndex = Math.floor(Math.random() * allStaff.length);
        currPrice = getCurrPrice();
        timeLeft--;

        if (timeLeft < 0) {

            if (va > 0) {
                $("#p1").text("Order executed to purchase stock");
                $("#p2").text("Done @@ " + currPrice.toString());
                $("#p3").text("No. of shares: " + noOfShares.toString());
                $("#p4").text("VA Generated: " + (va * noOfShares).toLocaleString("en-US", { style: "currency", currency: "USD", minimumFractionDigits: 2 }));
            }

            $("#results").modal();
            return;
        }

        setTimeout(go, speed);        
    }

    getCurrPrice = function () {
        if (priceIndex >= prices.length)
            priceIndex = 0;
        return prices[priceIndex++];
    };


    function processData(allText) {
        var record_num = 5;  // or however many elements there are in each row
        var allTextLines = allText.split(/\r\n|\n/);
        var entries = allTextLines[0].split(',');
        var lines = [];

        var headings = entries.splice(0, record_num);
        while (entries.length > 0) {
            var tarr = [];
            for (var j = 0; j < record_num; j++) {
                tarr.push(headings[j] + ":" + entries.shift());
            }
            lines.push(tarr);
        }
        // alert(lines);
    }

    function Notify() {
        var url = "/Notify";

        $.ajax({
            type: "POST",
            contentType: "application/json",
            url: url,
            success: function (ret) {
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(textStatus, errorThrown);
            },
            complete: function () {
            }
        });
    };


    $(function () {
        go();
    });

</script>